---
layout: default
title: CLI
date: 2015-09-09 00:00:00
---

<h1>
  Changelog
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss feed"></i></a>
</h1>

{% for post in site.posts %}
  {% assign body = post.content | xml_escape | strip_html | strip_newlines | remove:' ' %}
  <div class="content mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">{{ post.date | date: "%b %-d, %Y" }}</div>
    <div class="mdl-cell mdl-cell--2-col">{{ post.categories | first | split: "_" | join: " " }}</div>
    <div class="post_content mdl-cell mdl-cell--8-col">
    {{ post.title }}
    {% if body != "" %}
      <a href="#" class="more">more</a>
    {% endif %}
    {% if post.github %}
      <a target="_blank" href="{{ post.github }}"><i class="icon icon--github">{% include github_svg.html %}</i></a>
    {% endif %}
    </div>
  </div>
  {% if body != "" %}
  <div class="content mdl-grid hidden">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="post_content full mdl-cell mdl-cell--8-col">
      {{ post.content }}
    </div>
  </div>
  {% endif %}
{% endfor %}
