<div class="toolbar">
  <h1><a href="/">Appsdeck Changelog</a></h1>
  {% if page.url == "/index.html" %}
    <div class="tabs">
      <ul>
          <li class="tabitem active">
            <a href="#all">
              All
              <span></span>
            </a>
          </li>
          {% for category in site.categories %}
            <li class="tabitem">
              <a href="#{{ category | first }}">
                {{ category | first | split: "_" | join: " " }}
                <span></span>
              </a>
            </li>
          {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
