---
layout: default
---


<div class="content">
  <div id="all" class="box show">
    <div class="item">
      <div class="itemhead">
        <h2>{{ page.categories | first | split: "_" | join: " " }}</h2>
        <p>
          <span class="date">{{ page.date | date: "%b %-d, %Y" }}</span>
          <span class="category">{{ page.categories | first | split: "_" | join: " " }}</span>
          {{ page.title }}
        </p>
        <p style="display:block;">
          {{ content }}
        </p>
        {% include itemfooter.html %}
      </div>
    </div>
  </div>
</div>
